body{
    max-width: 400px; /* tamanho maximo da tela */
    margin: 0 auto;
    padding: 20px; /* margin interna do obj */
    border: 1px double rgb(255, 255, 255);
    border-radius: 5px; 

}

h1{
    text-align: center;
   
}

form{
    display: flex;
    flex-direction: column;
  
}

label{
    margin-top: 10px;
}

input {
    padding: 8px;
    margin-top: 5px;
    border-radius: 3px;
    border: 1px solid black;
    box-shadow: 0 3px 10px rgb(0, 0, 5);
}

button{
    padding: 10px 10px ;
    margin-top: 10px;
    background-color: #8fc8eb;
    cursor: pointer; /* é o cursor do mouse*/
    color: rgb(0, 0, 0);
    border-radius: 5px;
    border: none;
    transition: 1s;
}

button:hover{
    /* hover bé uma pseudo-classe, que faz quando o cliente coloca o mause em cima do botom e ele muda de cor */
    background-color: #88d99a78;
transform: scale(1.1);
}

.check{
    display: flex;
    justify-content: center;
    align-items: center;
}

#check{
    margin-right: 15px;
}